.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.content {
  flex: 1;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}
