@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply min-h-screen bg-zinc-950 px-6 py-10 text-zinc-100 antialiased;
  }
}

